/* * declaring font family for body */
body {
	/* font-family: 'Alfa Slab One', cursive; */
	font-family: 'Roboto Slab', serif;
	/* font-family: 'Helvetica'; */
}

h1 {
	font-family: 'Helvetica', sans-serif;
}

/* * declaring weight, not italic */
body {
	background-color: #333;
	font-weight: 900;
	font-style: normal;
	/* margin: 0; */
}

/* * actual beginning */
/* selectors */

* {
	/* margin: 1vw;
	padding: 1vw; */
	box-sizing: border-box;
}

div {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 60px;
	color: orange;
}

.banner {
	background: url("/images/5-06-19 feet shutterstock_426895447.jpg");

	background-size: cover;
}

/* master-styler font-based 51719.1820

  background-color: xxx;
  color: xxx;
  font-family: xxx;
  font-size: rem;
  font-style: xxx;
  font-weight: xxx;
  letter-spacing: xxx;
  line-height: 000;
  text-align: center;
  text-align: justify;
  text-align: left;
  text-align: right;
  text-indent: 000;
  text-shadow: xxx;
  text-transform: capitalize;
  text-transform: lowercase;
  text-transform: uppercase;
  text-transform: none;
  width: 000;
  word-spacing: 000;

master-styler box-based----------------

align-items: center;

background-attachment: fixed; // position
background-blend-mode: xxx;
background-position: bottom;
background-position: center;
background-position: left;
background-position: right;
background-position: top;
background-repeat: no-repeat;
background-repeat: repeat;
background-repeat: repeat-x;
background-repeat: repeat-y;
background-repeat: round; //stretches to whole pic
background-repeat: space;
background-size: cover;
background-size: contain;

border-bottom: xxx;
border-color: xxx;
border-left: xxx;
border: 0.2vh solid #222;
border-radius:
border-bottom-left-radius: 000;
border-bottom-right-radius: 000;
border-top-left-radius: 000;
border-top-right-radius: 000;
border-right: xxx;
border-style: hidden;
border-style: solid;
border-style: none;
border-top: 000;
border-width: 000;

display: flex;
justify-content: center;

margin: 0 auto;   this is to center
margin-bottom: 000;
margin-left: 000;
margin-right: 000;
margin-top: 000;

min-height: 000;

outline-color: 000;
outline-offset: 000;   unique to outline
outline-style: 000;
outline-width: 000;
outline: 0.2vh solid #222;

padding: 000;
padding-bottom: 000;
padding-left: 000;
padding-right: 000;
padding-top: 000;


 */
