* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
}

h2 {
  color: white;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
}

h3 {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.bold {
  font-weight: 900;
}

.green {
  color: #00ad2b;
}

.blue {
  color: #1aa1d9;
  font-weight: 900;
}

.yellow {
  color: #ddac5e;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bgyellow {
  background-color: #ddac5e;
}

#tvcHeader {
  text-align: center;
}

.v0 {
  margin-top: 0;
  padding-top: 0;
}

.v1 {
  margin-top: 7px;
}

.box {
  margin-top: 0;
  padding-top: 0;
}

body {
  background: #202125;
  font-family: "Overpass", sans-serif;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
  padding: 3vh 3vw 3vh 3vw;
}

.flag-image {
  width: 180px;
  height: auto;
}

.product-image {
  width: 180px;
  height: auto;
  margin-top: 0.5rem;
}

#gridContainer {
  display: -ms-grid;
  display: grid;
  grid-gap: 50px;
  -ms-grid-columns: (180px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 180px);
  grid-auto-flow: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.btn {
  display: inline-block;
  background-color: #1aa1d9;
  border: none;
  width: 85px;
  text-align: center;
  font-size: 16px;
  padding: 0px 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #2b3238;
  color: #ddac5e;
}

.btn2 {
  background-color: #c22f33;
  border: none;
  width: 85px;
  color: #ddac5e;
  text-align: center;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn2:hover {
  background-color: #2b3238;
  color: #ddac5e;
}

.main-logo2 {
  width: clamp(100px, 50%, 300px);
  margin-bottom: 0.3em;
}

.radio {
  overflow: hidden;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1rem;
}

.radio__input {
  display: none;
}

.radio__input:hover + .radio__label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ed4509), to(#f04747));
  background-image: linear-gradient(to bottom, #ed4509, #f04747);
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radio__input:checked + .radio__label {
  background: white;
  color: black;
}

.radio__label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e60808), to(#570410));
  background-image: linear-gradient(to bottom, #e60808, #570410);
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 0.3rem;
  padding: 0.25em 1.02em;
  font-family: Arial;
  font-size: clamp(0.75rem, 1.51vw, 1.25rem);
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.radio2 {
  overflow: hidden;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1rem;
}

.radio2__input {
  display: none;
}

.radio2__input:hover + .radio2__label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#73e67a), to(#61cc4b));
  background-image: linear-gradient(to bottom, #73e67a, #61cc4b);
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radio2__input:checked + .radio2__label {
  background: white;
  color: black;
}

.radio2__label {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0808e6), to(#100457));
  background-image: linear-gradient(to bottom, #0808e6, #100457);
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 0.3rem;
  padding: 0.25em 1.02em;
  font-family: Arial;
  font-size: clamp(0.75rem, 1.51vw, 1.25rem);
  font-weight: 200;
  letter-spacing: 0.05rem;
}
/*# sourceMappingURL=main.css.map */